{% extends "manager/base.html" %}
{% block title %}
  Salt Stack Manager | Dashboard
{% endblock %}
{% block path %}
    <li>Dashboard</li>
    <li class="active">List</li>
{% endblock %}
{% block content %}
  <ul class="nav nav-tabs">
    <li role="minions" id="accepted_minions" class="active"><a href="javascript:accepted_minions_view()">Accepted</a></li>
    <li role="minions" id="pending_minions"><a href="javascript:pending_minions_view()">Pending Requests</a></li>
    <li role="minions" id="rejected_minions"><a href="#">Rejected(to be implemented)</a></li>
  </ul>
  <div class="accepted_minions">
    <table class="table table-striped" id="accepted_minions">
        <thead>
          <tr>
            <th>Computer</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for minion in request.accepted_minions %}
            <tr>
              <td><a class="minion">{{ minion }}</a></td>
              <td>
                {% if minion in request.minion_status.up %}
                  up
                {% else %}
                  down
                {% endif %}
              </td>
              <td><button class="btn btn-primary" onClick="window.location='/deleteminion?m='+this.parentNode.parentNode.childNodes[1].innerText">Delete</button></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>

  <div class="pending_minions" style="display:none">
    <table class="table table-striped" id="pending_minions">
        <thead>
          <tr>
            <th class="col-md-10 col-sm-10 col-xs-10">Computer</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for minion in request.pending_minions %}
            <tr>
              <td>{{ minion }}</td>
              <td><button class="btn btn-primary" onClick="window.location='/acceptminion?m='+this.parentNode.parentNode.childNodes[1].innerText">Accept</button></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
  <script type="text/javascript">
    accepted_minions_view = function () {
      $('.accepted_minions').show();
      $('#accepted_minions').addClass("active");
      $('.pending_minions').hide();
      $('#pending_minions').removeClass("active");
    }
    pending_minions_view = function () {
      $('.accepted_minions').hide();
      $('#accepted_minions').removeClass("active");
      $('.pending_minions').show();
      $('#pending_minions').addClass("active");

    }
    $(".minion").click(function() {
      window.location = "/getminiondetails?m=" + this.text;
    });
  </script>
{% endblock %}
