{% extends "manager/base.html" %}
    {% block title %}
        Salt Stack Manager | Dashboard
    {% endblock %}

    {% block path %}
        <li>Dashboard</li>
        <li class="active">Minion Details</li>
    {% endblock %}

    {% block content %}

<table class = "table table-striped" id = "accepted_minions" >
    <thead >
      <tr >
        <th > Category </th >
        <th > Value </th >
      </ tr >
    </ thead >
    <tbody >
        <tr >
          <td >
            Kernel
          </ td >
          <td >
            {{request.minion_grains_info.kernel}}
          </ td >
        </ tr >
        <tr >
          <td >
            Cpu Model
          </ td >
          <td >
            {{request.minion_grains_info.cpumodel}}
          </ td >
        </ tr >
        <tr >
          <td >
            Kernel Release
          </ td >
          <td >
            {{request.minion_grains_info.kernelrelease}}
          </ td >
        </ tr >
        <tr >
          <td >
            Salt Version
          </ td >
          <td >
            {{request.minion_grains_info.saltversion}}
          </ td >
        </ tr >
        <tr >
          <td >
            fqdn
          </ td >
          <td >
            {{request.minion_grains_info.fqdn}}
          </ td >
        </ tr >
        <tr >
          <td >
            IPv4 Interfaces
          </ td >
          <td >
            {{request.minion_grains_info.ip4_interfaces}}
          </ td >
        </ tr >
        <tr >
          <td >
            Product Name
          </ td >
          <td >
            {{request.minion_grains_info.productname}}
          </ td >
        </ tr >
        <tr >
          <td >
            RAM info (GB)
          </ td >
          <td >
            <table class = "table table-striped">
              <thead>
                <tr>
                  <th>
                    Total
                  </th>
                  <th>
                    Free
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    {{request.raminfo.total}}
                  </td>
                  <td>
                    {{request.raminfo.available}}
                  </td>
                </tr>
              </tbody>
            </table>
          </ td >
        </ tr >
        <tr >
          <td >
            Disk Usage (GB)
          </ td >
          <td >
            <table class = "table table-striped">
              <thead>
                <tr>
                  <th>
                    Location
                  </th>
                  <th>
                    Total
                  </th>
                  <th>
                    Free
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Root
                  </td>
                  <td>
                    {{request.diskinfo.root.total}}
                  </td>
                  <td>
                    {{request.diskinfo.root.available}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Home
                  </td>
                  <td>
                    {{request.diskinfo.home.total}}
                  </td>
                  <td>
                    {{request.diskinfo.home.available}}
                  </td>
                </tr>
                <tr>
                  <td>
                    Temp
                  </td>
                  <td>
                    {{request.diskinfo.temp.total}}
                  </td>
                  <td>
                    {{request.diskinfo.temp.available}}
                  </td>
                </tr>
              </tbody>
            </table>
          </ td >
        </ tr >

    </ tbody >
  </table>

{% endblock %}
